@import "bootstrap.css";
@import "bootstrap-grid.css";
@import "bootstrap-reboot.css";
@import "all.css";
@import "owl.carousel.min.css";
@import "owl.theme.default.min.css";
@import "fonts";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@300&family=Source+Sans+Pro:wght@300;900&display=swap');
@import "gallery";


.font-w-900 {
  font-weight: 900;
}

.open-sans {
  font-family: 'Open Sans', sans-serif;
}

.source-sans-pro {
  font-family: 'Source Sans Pro', sans-serif;
}

.roboto {
  font-family: 'Roboto', sans-serif;
}

.font-20 {
  font-size: 20px;
}

.font-42 {
  font-size: 42px;
}

.font-35 {
  font-size: 35px;
}

.font-16 {
  font-size: 16px;
}

.font-14 {
  font-size: 14px;
}

.letter-2 {
  letter-spacing: 2px;
}
.letter-12 {
  letter-spacing: 12px;
}
.letter-7 {
  letter-spacing: 7px;
}

.color-default {
  color: white;
}

.color-heading {
  color: #333b46;
}
.color-heading-2 {
  color: #464646;
}

.color-heading-3 {
  color: #e1e4e9;
}

.color-text {
  color: #81868e;
}

.color-text-2 {
  color: #b2b3b3;
}

.padding-a {
  padding: 10px 25px;
}

.highlighting-color {
  color: #19bd9a;
}

.submit-size {
  max-width: 140px;
  margin: auto;
}

.m-w-1140 {
  max-width: 1140px;
  margin: auto;
}

  %icon {
    width: 53px;
    height: 53px;
    border-radius: 50%;
    padding: 12px;
    background-color: #81868e;
    &:hover {
      @extend %main-color;
    }
  }



  %main-color {
    background-color: #19bd9a;
  }


  @mixin max-screen($res) {
    @media screen and (max-width: $res) {
      @content;
    }
  }

  nav {
    padding-top: 15px;

    div {

      ul {

        li {
          border: 1px solid transparent;
          padding: 0 10px;
          transition: all .3s;

          a {
            transition: all .3s;
          }

          &:hover, &.active {
            border: 1px #ffffff solid;
            border-radius: 50px;

            a {
              color: white;
            }
          }
        }
        @include max-screen(767px) {

          -webkit-backdrop-filter: blur(9px);
          backdrop-filter: blur(9px);
          padding: -15px;
        }
      }
    }
  }


  .block-header {
    background: url("../images/bg-header.jpg") no-repeat;
    background-size: cover;
    height: 100vh;

    .block-header-color {
      background-color:  rgba(0, 0, 0, 0.5);
      height: 100%;
    }

    a {
      width: 36px;
      height: 36px;
      @extend %main-color;
      top: 35%;
      left: 50%;
      @include max-screen(768px) {
        top: 27%;
        left: 45%;
      }

      i{
        padding-top: 11px;
        color: #ffffff;
      }
    }
  }

  .block-hello {
    padding: 115px 15px 65px;
    h3 {
      margin-bottom: 50px;
    }
    p {
      margin-bottom: 33px;
    }
    @include max-screen(768px) {
      padding: 0 15px;
    }

    div {
      a {
        &:hover {
          background: #e6f0fa;
          color: #19bd9a;
        }
      }

      div {
        @include max-screen(768px) {
          justify-content: center;
        }
      }

      @include max-screen(768px) {
        text-align: center;
        padding: 15px;
      }
    }
  }

  .about {
    background-color: #f3f3f3;
    padding: 54px 0 100px;

    @include max-screen(768px) {
      padding: 50px 0;
    }

    h5 {
      margin-bottom: 40px;
    }

    .icon {
      padding: 60px 0;

      a {

        &:not(:last-child){
          margin-right: 27px;
        }
        @extend %icon;
      }
    }

    h6 {
      color:  #464646;
      margin-bottom: 40px;
    }
  }

  .featured-project {

    &__img-wrapper {
      padding: 0;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__images {

      .featured-project__img-wrapper {
        cursor: pointer;

        &:hover {
          .featured-project__hover {
            opacity: 1;
          }
        }
      }
    }

    &__hover {
      display: flex;
      align-items: center;
      justify-content: center;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      opacity: 0;
      transition: all .3s;
    }

    &__subscribe {
      background: url("../images/bg-narrow.jpg") no-repeat 0 0 /cover;
      padding: 38px 0;
    }

    &__subscribe-button {
      justify-content: space-between;

      @include max-screen(768px) {
        text-align: center;
        justify-content: center;
      }
    }
  }

  .our-services {
    padding-bottom: 137px;

    @include max-screen(768px) {
      padding-bottom: 50px;
    }

    .container {

      .icon {
        @include max-screen(768px) {
          display: flex;
          margin-bottom: 30px;
          &:not(:last-child) {
            justify-content: space-around;
          }
        }

        a {
          &:not(:last-child){
            margin-bottom: 17px;
          }
          @extend %icon;
        }
      }

      div {

        h4 {
          margin-bottom: 35px;

          @include max-screen(768px) {
            margin-bottom: 25px;
          }
        }
      }
    }
  }

  .bg-style {
    display: flex;
    justify-content: space-between;
  }
  .counter {
    display: inline-flex;
    cursor:pointer;
    width:150px;
    height:150px;
    max-width:100%;
    position:relative;
    justify-content:center;
    align-items:center;
    font-size: 25px;
    font-weight: 500;
    transition: height .2s ease-in-out;
    background: #fff;
    border-radius:50%;
  }
  .percentage {
    position:absolute;
    text-align:center;
    top:50%;
    left:0;
    right:0;
    vertical-align:middle;
    transform:translate3d(0,-50%,0);
  }
  canvas {
    position:absolute;
    top:0;
    left:0;
  }

.impressed {
  background: url("../images/bg-impressed.jpg") no-repeat;
  background-size: cover;

  @include max-screen(768px) {
    text-align: center;
  }

  .impressed-img {

    .impressed-img-wrapper {
      position: relative;
      bottom: 10%;
      right: 0;
      @include max-screen(768px) {
        position: static;
      }
    }
  }
}

.portfolio {
  padding-bottom: 100px;
  background-color: #f3f3f3;
  @include  max-screen(768px) {
    padding-bottom: 0;
  }

  .nav-pills {
    margin-bottom: 55px;
  }

  .container {

    .row {

      .nav-link.active,{
        color: #464646;
        background-color: transparent;
        position: relative;
        &:after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 25%;
          border-bottom: solid 2px #19bd9a;
          width: 38px;
        }
      }
    }
  }

  .submit {
    background: url("../images/bg-translucent.jpg") no-repeat;
    background-size: cover;

    .color-wrapper {
      background-color:  rgba(25, 189, 154, 0.6);
      padding: 38px 15px;
    }
  }
}

.team {

  .team-item-photo-wrapper {
    width: 286px;

    @include max-screen(768px)  {
      margin:0 auto 20px;
    }

    img {
      width: 100%;
    }
  }

  .team-item-info {
    max-width: 368px;

    .progress {
      height: 4px;


      .progress-bar {
        width: 80%;
        height: 4px;
        background-color: #19bd9a;
      }

      .progress-bar-2 {
        width: 65%;
        height: 4px;
        background-color: #19bd9a;
      }

      .progress-bar-3 {
        width: 75%;
        height: 4px;
        background-color: #19bd9a;
      }
    }
  }

  .submit {
    background: url("../images/bg-translucent-2.png") no-repeat;
    background-size: cover;

    .color-wrapper {
      background-color:  rgba(0, 0, 0, 0.8);
      padding: 38px 0;
    }
  }

  .carousel-team {
    margin-bottom: 100px;
    padding-bottom: 60px;
    @include max-screen(768px) {
      margin-bottom: 50px;
    }
  }
}

.owl-carousel {

  .owl-dots {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    .owl-dot {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      border: solid #19bd9a 1px;

      &:not(:last-child){
        margin-right: 10px;
      }
    }

    .active {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #19bd9a;
      border: solid #19bd9a 1px;
    }
  }
}

.reviews {
  background-color: #f3f3f3;
  padding: 100px 15px;
  @include max-screen(768px) {
    padding: 50px 15px;
  }

  .review-item {
    background-color: #ffffff;
    padding: 50px 100px 120px;
    @include max-screen(768px) {
      padding: 30px;
    }

    .review-photo {
      @include  max-screen(768px) {
        max-width: 131px;
        max-height: 131px;
        margin: auto;

        img {
          @include max-screen(768px) {
            margin-bottom: 20px;
          }
        }
      }
    }
  }

  .owl-carousel {

    .owl-dots {
      position: absolute;
      bottom: 23%;
      left: 48%;

      @include max-screen(768px) {
        bottom: 8%;
        left: 42%;
      }
    }
  }
}

.news {
  background: url("../images/bg-news.jpg") no-repeat 0 0 /cover;

  .color-new-wrapper {
    background-color:  rgba(0, 0, 0, 0.8);

    .gradient-new-wrapper {
      background: linear-gradient(0deg, rgba(0,0,0,0.1) 0%, rgba(0,0,0,1) 100%);
      padding: 80px 0;


      .owl-dots {
        position: absolute;
        bottom: 60%;
        left: 80%;
        display: flex;
        flex-direction: column;
        @include max-screen(768px) {
          bottom: 0;
          left: 46%;
          display: block;
        }

        .owl-dot {
          border: solid #b2b3b3 1px;
          margin-bottom: 10px;
        }

        .active {
          background-color: #b2b3b3;
          border: solid #b2b3b3 1px;
        }
      }

      .p-news {
        padding-bottom: 100px;
        @include max-screen(768px) {
          padding-bottom: 40px;
        }
      }
    }

  }
}

.price {
  padding: 80px 15px;
  background-color: #f3f3f3;
  @include max-screen(768px) {
    padding: 50px 15px;
  }

  .price-item {
    width: 235px;
    height: 303px;
    margin-bottom: 15px;
    &:hover {
      .price-item-hover {
        opacity: 1;
      }
    }

    .name-price {
      background-color: #19bd9a;
      width: 100%;
      height: 67px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .value-price {
      background-color: #ffffff;
      width: 100%;
      height: 235px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

    }

    .price-item-hover {
      top:0;
      opacity: 0;

      .value-price-hover {
        background-color: #ffffff;
        width: 100%;
        height: 235px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        p {
          padding: 33px;
          line-height: 30px;
        }
      }

      .name-price-hover {
        background-color: #19bd9a;
        width: 100%;
        height: 67px;
        display: flex;
        align-items: center;
        justify-content: center;

      }
    }
  }
}

.subscribe {
  background: url("../images/bg-subscribe.jpg") no-repeat 0 0 /cover;

  .subscribe-color-wrapper {
    background-color:  rgba(0, 0, 0, 0.7);
    padding: 80px 15px 100px;
    @include max-screen(768px) {
      padding: 50px 15px;
    }

    form {

      @include max-screen(768px) {
       margin-bottom: 15px;
      }
      input {
        background: none;
        border-radius: 0;
        font-size: 14px;
        width: 360px;
        padding: 15px 20px;
        margin-right: 9px;
        color: #cfd3d4;
        @include max-screen(768px) {
          max-width: 360px;
          margin-bottom: 15px;
        }

        &:focus {
          border-color:  #0c6e59;
          outline: 0;
          box-shadow: none;
        }
      }

      button {
        width: 150px;
        background-color: #19bd9a;
        border: none;
        border-radius: 0;
        font-size: 14px;
        padding: 7px 20px;
        color: #ffffff;
        outline: none;
        @include max-screen(768px) {
          max-width: 150px;
        }

        &:focus {
          box-shadow: none;
          border-color: #118f74;
        }

        &:hover {
          background-color: #118f74;
        }
      }

      .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
        color: #fff;
        background-color: #0c6e59;
        border-color: #0c6e59;
      }
    }
  }
}

.form-control:focus {
  background-color: #fff;
  border-color:  #0c6e59;
  outline: 0;
  box-shadow: none;
}

.contact {
  background-color: #f3f3f3;
  padding: 80px 15px 100px;
  @include max-screen(768px) {
    padding: 50px 15px;
  }

  .contact-item {
    @include max-screen(768px) {
      margin-bottom: 15px;
    }

    .contact-img-wrapper {
      background: url("../images/img-contact-phone.jpg") no-repeat 0 0 /cover;
      height: 145px;

      i {
        font-size: 38px;
        color: #ffffff;
      }
    }

    .contact-text-wrapper {
      background-color: #ffffff;
      padding: 30px 15px;
    }
  }
}

.contact-form {
  padding: 80px 15px 130px;

  @include max-screen(768px) {
    margin: 0 15px;
  }

  form {

    input {
     font-size: 14px;
      border-radius: 0;
      @include max-screen(768px) {
        margin-bottom: 15px;
      }

      &:focus {
        border-color:  #0c6e59;
        outline: 0;
        box-shadow: none;
      }
    }

    button {
      background-color: #19bd9a;
      border: none;
      border-radius: 0;
      font-size: 14px;
      padding: 7px 20px;
      color: #ffffff;
      outline: none;
      width: 100%;
      text-transform: uppercase;


      &:focus {
        box-shadow: none;
        background-color: #0c6e59;
      }


      &:hover {
        background-color: #118f74;
      }
    }

    textarea {
      height: 190px;
      resize: none;
      @include max-screen(768px) {
        height: 60px;
      }
    }

  }

  .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #0c6e59;
    border-color: #0c6e59;
  }

}


.map {
  position: relative;

  iframe {
    @include  max-screen(768px) {
      height: 180px;
    }
  }

  &:hover{
    .map-color-wrapper {
      opacity: 0;
      visibility: hidden;
    }
  }

  .map-color-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    background-color:  rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    visibility: visible;
    transition: 0.3s;

    a {
      margin-left: 17px;
      background-color: #19bd9a;
      text-decoration: none;
      border-radius: 50%;
      display: block;
      width: 18px;
      height: 18px;
      color: #FFFFFF;
      font-size: 12px;
      line-height: 12px;
      padding: 4px;
    }

  }
}

footer {
  background-color: #f3f3f3;
  padding: 80px 15px;
  @include max-screen(768px) {
    padding: 40px 15px;
  }

  .logo-text {
    font-size: 20px;
    font-family: $font-logo;
    text-align: center;
    color: #323a45;
  }

  a {
    text-decoration: none;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}

#back-top {
  position: fixed;
  padding: 0;
  bottom: 3%;
  right: 25px;
  z-index:99991;
  @include max-screen(1024px) {
    left: 40%;
    bottom: 3%;
  }
  @include max-screen(768px) {
    left: 85%;
    bottom: 1%;
    margin-left: 0;
  }
}
#back-top a{
  width: 40px;
  height: 40px;
  display:block;
  text-decoration:none;
  transition: all linear 0.2s;
  text-align: center;

  i {
    font-size: 30px;
    line-height: 17px;
    color: #19bd9a;
  }
}

.container-gallery {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, minmax(270px,1fr));
  grid-auto-rows: 0;

  .gallery-item {
    max-height: 361px;
    overflow: hidden;

    .image {

      img {
        max-width: 100%;
        height: 100%;
        object-fit: cover;

        @media (max-width: 1024px) {
          width: 100%;
        }
      }
      
      @media (max-width: 1024px) {
        height: 100%;
      }
    }

    .text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 100%;
      opacity: 0;
      visibility: hidden;
      background: rgba(0,0,0, .7);
      -webkit-backdrop-filter: blur(5px) saturate(1.8);
      transition: .3s;
      padding: 0 20px;

      > h3 {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #19bd9a;
        font-size: 25px;
        pointer-events: none;
        z-index: 4;
        transition: .3s ease-in-out;
        width: 100%;
        text-align: center;
      }
    }

    @media (max-width: 1024px) {
      height: 100%;
    }
  }

  .gallery-container {
    cursor: pointer;
    position: relative;

    &:hover {
      .text {
        visibility: visible;
        opacity: 1;
      }
    }
    @media (max-width: 1024px) {
      width: 33.33333%;
    }

    @media (max-width: 767px) {
      width: 50%;
    }
  }
  
  @media (max-width: 1024px) {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 0;
  }
}

.my-progress-bar-first {
  width: 120px;
  height: 120px;
}

.button {
  transition: all .3s;

  &:hover {
    background: #FFFFFF;
    color: #19bd9a;
  }
}