@import "bootstrap.css";
@import "bootstrap-grid.css";
@import "bootstrap-reboot.css";
@import "all.css";
@import "owl.carousel.min.css";
@import "owl.theme.default.min.css";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@300&family=Source+Sans+Pro:wght@300;900&display=swap");
@font-face {
  font-family: "Big John";
  src: url("../fonts/BigJohn.eot");
  src: url("../fonts/BigJohn.eot?#iefix") format("embedded-opentype"), url("../fonts/BigJohn.woff2") format("woff2"), url("../fonts/BigJohn.woff") format("woff"), url("../fonts/BigJohn.ttf") format("truetype"), url("../fonts/BigJohn.svg#BigJohn") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.font-w-900 {
  font-weight: 900;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
}

.source-sans-pro {
  font-family: "Source Sans Pro", sans-serif;
}

.roboto {
  font-family: "Roboto", sans-serif;
}

.font-20 {
  font-size: 20px;
}

.font-42 {
  font-size: 42px;
}

.font-35 {
  font-size: 35px;
}

.font-16 {
  font-size: 16px;
}

.font-14 {
  font-size: 14px;
}

.letter-2 {
  letter-spacing: 2px;
}

.letter-12 {
  letter-spacing: 12px;
}

.letter-7 {
  letter-spacing: 7px;
}

.color-default {
  color: white;
}

.color-heading {
  color: #333b46;
}

.color-heading-2 {
  color: #464646;
}

.color-heading-3 {
  color: #e1e4e9;
}

.color-text {
  color: #81868e;
}

.color-text-2 {
  color: #b2b3b3;
}

.padding-a {
  padding: 10px 25px;
}

.highlighting-color {
  color: #19bd9a;
}

.submit-size {
  max-width: 140px;
  margin: auto;
}

.m-w-1140 {
  max-width: 1140px;
  margin: auto;
}

.our-services .container .icon a, .about .icon a {
  width: 53px;
  height: 53px;
  border-radius: 50%;
  padding: 12px;
  background-color: #81868e;
}
.block-header a, .our-services .container .icon a:hover, .about .icon a:hover {
  background-color: #19bd9a;
}

nav {
  padding-top: 15px;
}
nav div ul li {
  border: 1px solid transparent;
  padding: 0 10px;
  transition: all 0.3s;
}
nav div ul li a {
  transition: all 0.3s;
}
nav div ul li:hover, nav div ul li.active {
  border: 1px #ffffff solid;
  border-radius: 50px;
}
nav div ul li:hover a, nav div ul li.active a {
  color: white;
}
@media screen and (max-width: 767px) {
  nav div ul {
    backdrop-filter: blur(9px);
  }
}

.block-header {
  background: url("../images/bg-header.jpg") no-repeat;
  background-size: cover;
  height: 100vh;
}
.block-header .block-header-color {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
}
.block-header a {
  width: 36px;
  height: 36px;
  top: 35%;
  left: 50%;
}
@media screen and (max-width: 768px) {
  .block-header a {
    top: 27%;
    left: 45%;
  }
}
.block-header a i {
  padding-top: 11px;
  color: #ffffff;
}

.block-hello {
  padding: 115px 15px 65px;
}
.block-hello h3 {
  margin-bottom: 50px;
}
.block-hello p {
  margin-bottom: 33px;
}
@media screen and (max-width: 768px) {
  .block-hello {
    padding: 0 15px;
  }
}
.block-hello div a:hover {
  background: #e6f0fa;
  color: #19bd9a;
}
@media screen and (max-width: 768px) {
  .block-hello div div {
    justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  .block-hello div {
    text-align: center;
    padding: 15px;
  }
}

.about {
  background-color: #f3f3f3;
  padding: 54px 0 100px;
}
@media screen and (max-width: 768px) {
  .about {
    padding: 50px 0;
  }
}
.about h5 {
  margin-bottom: 40px;
}
.about .icon {
  padding: 60px 0;
}
.about .icon a:not(:last-child) {
  margin-right: 27px;
}
.about h6 {
  color: #464646;
  margin-bottom: 40px;
}

.featured-project__img-wrapper {
  padding: 0;
}
.featured-project__img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.featured-project__images .featured-project__img-wrapper {
  cursor: pointer;
}
.featured-project__images .featured-project__img-wrapper:hover .featured-project__hover {
  opacity: 1;
}
.featured-project__hover {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: all 0.3s;
}
.featured-project__subscribe {
  background: url("../images/bg-narrow.jpg") no-repeat 0 0/cover;
  padding: 38px 0;
}
.featured-project__subscribe-button {
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .featured-project__subscribe-button {
    text-align: center;
    justify-content: center;
  }
}

.our-services {
  padding-bottom: 137px;
}
@media screen and (max-width: 768px) {
  .our-services {
    padding-bottom: 50px;
  }
}
@media screen and (max-width: 768px) {
  .our-services .container .icon {
    display: flex;
    margin-bottom: 30px;
  }
  .our-services .container .icon:not(:last-child) {
    justify-content: space-around;
  }
}
.our-services .container .icon a:not(:last-child) {
  margin-bottom: 17px;
}
.our-services .container div h4 {
  margin-bottom: 35px;
}
@media screen and (max-width: 768px) {
  .our-services .container div h4 {
    margin-bottom: 25px;
  }
}

.bg-style {
  display: flex;
  justify-content: space-between;
}

.counter {
  display: inline-flex;
  cursor: pointer;
  width: 150px;
  height: 150px;
  max-width: 100%;
  position: relative;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: 500;
  transition: height 0.2s ease-in-out;
  background: #fff;
  border-radius: 50%;
}

.percentage {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 0;
  right: 0;
  vertical-align: middle;
  transform: translate3d(0, -50%, 0);
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.impressed {
  background: url("../images/bg-impressed.jpg") no-repeat;
  background-size: cover;
}
@media screen and (max-width: 768px) {
  .impressed {
    text-align: center;
  }
}
.impressed .impressed-img .impressed-img-wrapper {
  position: relative;
  bottom: 10%;
  right: 0;
}
@media screen and (max-width: 768px) {
  .impressed .impressed-img .impressed-img-wrapper {
    position: static;
  }
}

.portfolio {
  padding-bottom: 100px;
  background-color: #f3f3f3;
}
@media screen and (max-width: 768px) {
  .portfolio {
    padding-bottom: 0;
  }
}
.portfolio .nav-pills {
  margin-bottom: 55px;
}
.portfolio .container .row .nav-link.active {
  color: #464646;
  background-color: transparent;
  position: relative;
}
.portfolio .container .row .nav-link.active:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 25%;
  border-bottom: solid 2px #19bd9a;
  width: 38px;
}
.portfolio .submit {
  background: url("../images/bg-translucent.jpg") no-repeat;
  background-size: cover;
}
.portfolio .submit .color-wrapper {
  background-color: rgba(25, 189, 154, 0.6);
  padding: 38px 15px;
}

.team .team-item-photo-wrapper {
  width: 286px;
}
@media screen and (max-width: 768px) {
  .team .team-item-photo-wrapper {
    margin: 0 auto 20px;
  }
}
.team .team-item-photo-wrapper img {
  width: 100%;
}
.team .team-item-info {
  max-width: 368px;
}
.team .team-item-info .progress {
  height: 4px;
}
.team .team-item-info .progress .progress-bar {
  width: 80%;
  height: 4px;
  background-color: #19bd9a;
}
.team .team-item-info .progress .progress-bar-2 {
  width: 65%;
  height: 4px;
  background-color: #19bd9a;
}
.team .team-item-info .progress .progress-bar-3 {
  width: 75%;
  height: 4px;
  background-color: #19bd9a;
}
.team .submit {
  background: url("../images/bg-translucent-2.png") no-repeat;
  background-size: cover;
}
.team .submit .color-wrapper {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 38px 0;
}
.team .carousel-team {
  margin-bottom: 100px;
  padding-bottom: 60px;
}
@media screen and (max-width: 768px) {
  .team .carousel-team {
    margin-bottom: 50px;
  }
}

.owl-carousel .owl-dots {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.owl-carousel .owl-dots .owl-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: solid #19bd9a 1px;
}
.owl-carousel .owl-dots .owl-dot:not(:last-child) {
  margin-right: 10px;
}
.owl-carousel .owl-dots .active {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #19bd9a;
  border: solid #19bd9a 1px;
}

.reviews {
  background-color: #f3f3f3;
  padding: 100px 15px;
}
@media screen and (max-width: 768px) {
  .reviews {
    padding: 50px 15px;
  }
}
.reviews .review-item {
  background-color: #ffffff;
  padding: 50px 100px 120px;
}
@media screen and (max-width: 768px) {
  .reviews .review-item {
    padding: 30px;
  }
}
@media screen and (max-width: 768px) {
  .reviews .review-item .review-photo {
    max-width: 131px;
    max-height: 131px;
    margin: auto;
  }
}
@media screen and (max-width: 768px) and (max-width: 768px) {
  .reviews .review-item .review-photo img {
    margin-bottom: 20px;
  }
}
.reviews .owl-carousel .owl-dots {
  position: absolute;
  bottom: 23%;
  left: 48%;
}
@media screen and (max-width: 768px) {
  .reviews .owl-carousel .owl-dots {
    bottom: 8%;
    left: 42%;
  }
}

.news {
  background: url("../images/bg-news.jpg") no-repeat 0 0/cover;
}
.news .color-new-wrapper {
  background-color: rgba(0, 0, 0, 0.8);
}
.news .color-new-wrapper .gradient-new-wrapper {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.1) 0%, black 100%);
  padding: 80px 0;
}
.news .color-new-wrapper .gradient-new-wrapper .owl-dots {
  position: absolute;
  bottom: 60%;
  left: 80%;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 768px) {
  .news .color-new-wrapper .gradient-new-wrapper .owl-dots {
    bottom: 0;
    left: 46%;
    display: block;
  }
}
.news .color-new-wrapper .gradient-new-wrapper .owl-dots .owl-dot {
  border: solid #b2b3b3 1px;
  margin-bottom: 10px;
}
.news .color-new-wrapper .gradient-new-wrapper .owl-dots .active {
  background-color: #b2b3b3;
  border: solid #b2b3b3 1px;
}
.news .color-new-wrapper .gradient-new-wrapper .p-news {
  padding-bottom: 100px;
}
@media screen and (max-width: 768px) {
  .news .color-new-wrapper .gradient-new-wrapper .p-news {
    padding-bottom: 40px;
  }
}

.price {
  padding: 80px 15px;
  background-color: #f3f3f3;
}
@media screen and (max-width: 768px) {
  .price {
    padding: 50px 15px;
  }
}
.price .price-item {
  width: 235px;
  height: 303px;
  margin-bottom: 15px;
}
.price .price-item:hover .price-item-hover {
  opacity: 1;
}
.price .price-item .name-price {
  background-color: #19bd9a;
  width: 100%;
  height: 67px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.price .price-item .value-price {
  background-color: #ffffff;
  width: 100%;
  height: 235px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.price .price-item .price-item-hover {
  top: 0;
  opacity: 0;
}
.price .price-item .price-item-hover .value-price-hover {
  background-color: #ffffff;
  width: 100%;
  height: 235px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.price .price-item .price-item-hover .value-price-hover p {
  padding: 33px;
  line-height: 30px;
}
.price .price-item .price-item-hover .name-price-hover {
  background-color: #19bd9a;
  width: 100%;
  height: 67px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.subscribe {
  background: url("../images/bg-subscribe.jpg") no-repeat 0 0/cover;
}
.subscribe .subscribe-color-wrapper {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 80px 15px 100px;
}
@media screen and (max-width: 768px) {
  .subscribe .subscribe-color-wrapper {
    padding: 50px 15px;
  }
}
@media screen and (max-width: 768px) {
  .subscribe .subscribe-color-wrapper form {
    margin-bottom: 15px;
  }
}
.subscribe .subscribe-color-wrapper form input {
  background: none;
  border-radius: 0;
  font-size: 14px;
  width: 360px;
  padding: 15px 20px;
  margin-right: 9px;
  color: #cfd3d4;
}
@media screen and (max-width: 768px) {
  .subscribe .subscribe-color-wrapper form input {
    max-width: 360px;
    margin-bottom: 15px;
  }
}
.subscribe .subscribe-color-wrapper form input:focus {
  border-color: #0c6e59;
  outline: 0;
  box-shadow: none;
}
.subscribe .subscribe-color-wrapper form button {
  width: 150px;
  background-color: #19bd9a;
  border: none;
  border-radius: 0;
  font-size: 14px;
  padding: 7px 20px;
  color: #ffffff;
  outline: none;
}
@media screen and (max-width: 768px) {
  .subscribe .subscribe-color-wrapper form button {
    max-width: 150px;
  }
}
.subscribe .subscribe-color-wrapper form button:focus {
  box-shadow: none;
  border-color: #118f74;
}
.subscribe .subscribe-color-wrapper form button:hover {
  background-color: #118f74;
}
.subscribe .subscribe-color-wrapper form .btn-primary:not(:disabled):not(.disabled):active, .subscribe .subscribe-color-wrapper form .btn-primary:not(:disabled):not(.disabled).active, .subscribe .subscribe-color-wrapper form .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #0c6e59;
  border-color: #0c6e59;
}

.form-control:focus {
  background-color: #fff;
  border-color: #0c6e59;
  outline: 0;
  box-shadow: none;
}

.contact {
  background-color: #f3f3f3;
  padding: 80px 15px 100px;
}
@media screen and (max-width: 768px) {
  .contact {
    padding: 50px 15px;
  }
}
@media screen and (max-width: 768px) {
  .contact .contact-item {
    margin-bottom: 15px;
  }
}
.contact .contact-item .contact-img-wrapper {
  background: url("../images/img-contact-phone.jpg") no-repeat 0 0/cover;
  height: 145px;
}
.contact .contact-item .contact-img-wrapper i {
  font-size: 38px;
  color: #ffffff;
}
.contact .contact-item .contact-text-wrapper {
  background-color: #ffffff;
  padding: 30px 15px;
}

.contact-form {
  padding: 80px 15px 130px;
}
@media screen and (max-width: 768px) {
  .contact-form {
    margin: 0 15px;
  }
}
.contact-form form input {
  font-size: 14px;
  border-radius: 0;
}
@media screen and (max-width: 768px) {
  .contact-form form input {
    margin-bottom: 15px;
  }
}
.contact-form form input:focus {
  border-color: #0c6e59;
  outline: 0;
  box-shadow: none;
}
.contact-form form button {
  background-color: #19bd9a;
  border: none;
  border-radius: 0;
  font-size: 14px;
  padding: 7px 20px;
  color: #ffffff;
  outline: none;
  width: 100%;
  text-transform: uppercase;
}
.contact-form form button:focus {
  box-shadow: none;
  background-color: #0c6e59;
}
.contact-form form button:hover {
  background-color: #118f74;
}
.contact-form form textarea {
  height: 190px;
  resize: none;
}
@media screen and (max-width: 768px) {
  .contact-form form textarea {
    height: 60px;
  }
}
.contact-form .btn-primary:not(:disabled):not(.disabled):active, .contact-form .btn-primary:not(:disabled):not(.disabled).active, .contact-form .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #0c6e59;
  border-color: #0c6e59;
}

.map {
  position: relative;
}
@media screen and (max-width: 768px) {
  .map iframe {
    height: 180px;
  }
}
.map:hover .map-color-wrapper {
  opacity: 0;
  visibility: hidden;
}
.map .map-color-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  visibility: visible;
  transition: 0.3s;
}
.map .map-color-wrapper a {
  margin-left: 17px;
  background-color: #19bd9a;
  text-decoration: none;
  border-radius: 50%;
  display: block;
  width: 18px;
  height: 18px;
  color: #FFFFFF;
  font-size: 12px;
  line-height: 12px;
  padding: 4px;
}

footer {
  background-color: #f3f3f3;
  padding: 80px 15px;
}
@media screen and (max-width: 768px) {
  footer {
    padding: 40px 15px;
  }
}
footer .logo-text {
  font-size: 20px;
  font-family: "Big John";
  text-align: center;
  color: #323a45;
}
footer a {
  text-decoration: none;
}
footer a:not(:last-child) {
  margin-right: 10px;
}

#back-top {
  position: fixed;
  padding: 0;
  bottom: 3%;
  right: 25px;
  z-index: 99991;
}
@media screen and (max-width: 1024px) {
  #back-top {
    left: 40%;
    bottom: 3%;
  }
}
@media screen and (max-width: 768px) {
  #back-top {
    left: 85%;
    bottom: 1%;
    margin-left: 0;
  }
}

#back-top a {
  width: 40px;
  height: 40px;
  display: block;
  text-decoration: none;
  transition: all linear 0.2s;
  text-align: center;
}
#back-top a i {
  font-size: 30px;
  line-height: 17px;
  color: #19bd9a;
}

.container-gallery {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, minmax(270px, 1fr));
  grid-auto-rows: 0;
}
.container-gallery .gallery-item {
  max-height: 361px;
  overflow: hidden;
}
.container-gallery .gallery-item .image img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 1024px) {
  .container-gallery .gallery-item .image img {
    width: 100%;
  }
}
@media (max-width: 1024px) {
  .container-gallery .gallery-item .image {
    height: 100%;
  }
}
.container-gallery .gallery-item .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  background: rgba(0, 0, 0, 0.7);
  -webkit-backdrop-filter: blur(5px) saturate(1.8);
  transition: 0.3s;
  padding: 0 20px;
}
.container-gallery .gallery-item .text > h3 {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #19bd9a;
  font-size: 25px;
  pointer-events: none;
  z-index: 4;
  transition: 0.3s ease-in-out;
  width: 100%;
  text-align: center;
}
@media (max-width: 1024px) {
  .container-gallery .gallery-item {
    height: 100%;
  }
}
.container-gallery .gallery-container {
  cursor: pointer;
  position: relative;
}
.container-gallery .gallery-container:hover .text {
  visibility: visible;
  opacity: 1;
}
@media (max-width: 1024px) {
  .container-gallery .gallery-container {
    width: 33.33333%;
  }
}
@media (max-width: 767px) {
  .container-gallery .gallery-container {
    width: 50%;
  }
}
@media (max-width: 1024px) {
  .container-gallery {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 0;
  }
}

.my-progress-bar-first {
  width: 120px;
  height: 120px;
}

.button {
  transition: all 0.3s;
}
.button:hover {
  background: #FFFFFF;
  color: #19bd9a;
}

/*# sourceMappingURL=style.css.map */
